<!-- Sección tres: información general - título página -->
<div class="container-fluid mt-3">
    <div class="bg-light">
        <h2 class="text-black-50 text-center pt-2 my-3">Bienvenidos</h2>
        <div class="borde_gr"></div>                            
    </div>  
</div>